/*
 * Copyright Altera Corporation (C) 2015. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms and conditions of the GNU General Public License,
 * version 2, as published by the Free Software Foundation.
 *
 * This program is distributed in the hope it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License along with
 * this program.  If not, see <http://www.gnu.org/licenses/>.
 */

#include "socfpga_stratix10.dtsi"
#include <dt-bindings/interrupt-controller/irq.h>

/ {
	model = "SoCFPGA Stratix 10 SoCDK";

	aliases {
		serial0 = &uart1;
		ethernet0 = &gmac0;
		ethernet1 = &gmac1;
		ethernet2 = &gmac2;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	memory {
		device_type = "memory";
		/* We expect the bootloader to fill in the reg */
		reg = <0 0 0 0>;
	};

	ref_033v: 033-v-ref {
		compatible = "regulator-fixed";
		regulator-name = "0.33V";
		regulator-min-microvolt = <330000>;
		regulator-max-microvolt = <330000>;
	};

	soc {
		clocks {
			osc1 {
				clock-frequency = <25000000>;
			};
		};
	};
};

&gpio0 {
	status = "okay";
};

&gpio1 {
	status = "okay";
};

&gmac0 {
	status = "okay";
	phy-mode = "rgmii";
	phy-handle = <&phy0>;
	interrupt-parent = <&portb>;
	// pin 19 (index starting at 0) of portb (IOB_20)
	interrupts = <19 IRQ_TYPE_LEVEL_HIGH>;
	max-frame-size = <9000>;

	mdio0 {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "snps,dwmac-mdio";
		phy0: ethernet-phy@0 {
			reg = <4>;

			// TODO:
			// Need to calculate these values
			txd0-skew-ps = <0>; /* -420ps */
			txd1-skew-ps = <0>; /* -420ps */
			txd2-skew-ps = <0>; /* -420ps */
			txd3-skew-ps = <0>; /* -420ps */
			rxd0-skew-ps = <420>; /* 0ps */
			rxd1-skew-ps = <420>; /* 0ps */
			rxd2-skew-ps = <420>; /* 0ps */
			rxd3-skew-ps = <420>; /* 0ps */
			txen-skew-ps = <0>; /* -420ps */
			txc-skew-ps = <900>; /* 0ps */
			rxdv-skew-ps = <420>; /* 0ps */
			rxc-skew-ps = <1680>; /* 780ps */
		};
	};
};

&mmc {
	status = "okay";
	cap-sd-highspeed;
	broken-cd;
	bus-width = <4>;
};

&uart0 {
	status = "okay";
};

&uart1 {
	status = "okay";
};

&usb1 {
	status = "okay";
	disable-over-current;
};

&watchdog0 {
	status = "okay";
};

&i2c0 {
	status = "okay";
	clock-frequency = <100000>;
	i2c-sda-hold-time-ns = <100>;
	i2c-sda-falling-time-ns = <300>;  /* hcnt */
	i2c-sdl-falling-time-ns = <300>;  /* lcnt */

};

&i2c2 {
	status = "okay";
	clock-frequency = <100000>;
	i2c-sda-hold-time-ns = <100>;
	i2c-sda-falling-time-ns = <300>;  /* hcnt */
	i2c-sdl-falling-time-ns = <300>;  /* lcnt */

};

&spi0 {
	status = "okay";
	max14830@0 {
		status = "okay";
		compatible = "maxim,max14830";
		reg = <0x0>;
		spi-max-frequency = <10000000>;
		clocks = <&spi_uart_clock>;
		clock-names = "xtal";
		interrupt-parent = <&porta>;
		// pin 8 (index starting at 0) of porta
		// (IOA_9) is an Edge-Sensitive Active-Low interrupt
		interrupts = <8 IRQ_TYPE_EDGE_FALLING>;
		gpio-controller;
		#gpio-cells = <2>;
	};
	max14830@1 {
		status = "okay";
		compatible = "maxim,max14830";
		reg = <0x1>;
		spi-max-frequency = <10000000>;
		clocks = <&spi_uart_clock>;
		clock-names = "xtal";
		interrupt-parent = <&porta>;
		// pin 10 (index starting at 0) of porta
		// (IOA_11) is an Edge-Sensitive Active-Low interrupt
		interrupts = <10 IRQ_TYPE_EDGE_FALLING>;
		gpio-controller;
		#gpio-cells = <2>;
	};
	max14830@2 {
		status = "okay";
		compatible = "maxim,max14830";
		reg = <0x2>;
		spi-max-frequency = <10000000>;
		clocks = <&spi_uart_clock>;
		clock-names = "xtal";
		interrupt-parent = <&portb>;
		// pin 15 (index starting at 0) of portb
		// (IOB_16) is an Edge-Sensitive Active-Low interrupt
		interrupts = <15 IRQ_TYPE_EDGE_FALLING>;
		gpio-controller;
		#gpio-cells = <2>;
	};
	max14830@3 {
		status = "okay";
		compatible = "maxim,max14830";
		reg = <0x3>;
		spi-max-frequency = <10000000>;
		clocks = <&spi_uart_clock>;
		clock-names = "xtal";
		interrupt-parent = <&portb>;
		// pin 17 (index starting at 0) of portb
		// (IOB_18) is an Edge-Sensitive Active-Low interrupt
		interrupts = <17 IRQ_TYPE_EDGE_FALLING>;
		gpio-controller;
		#gpio-cells = <2>;
	};
};


&qspi {
	status = "okay";
	flash@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "n25q00a";
		reg = <0>;
		spi-max-frequency = <50000000>;

		m25p,fast-read;
		cdns,page-size = <256>;
		cdns,block-size = <16>;
		cdns,read-delay = <1>;
		cdns,tshsl-ns = <50>;
		cdns,tsd2d-ns = <50>;
		cdns,tchsh-ns = <4>;
		cdns,tslch-ns = <4>;

		// Currently There are no partitions.
		// partitions {
		// 	compatible = "fixed-partitions";
		// 	#address-cells = <1>;
		// 	#size-cells = <1>;

		// 	qspi_boot: partition@0 {
		// 		label = "Boot and fpga data";
		// 		reg = <0x0 0x4000000>;
		// 	};

		// 	qspi_rootfs: partition@4000000 {
		// 		label = "Root Filesystem - JFFS2";
		// 		reg = <0x4000000 0x4000000>;
		// 	};
		// };
	};
};
