// SPDX-License-Identifier: GPL-2.0-only
/*
 * Copyright Altera Corporation (C) 2015. All rights reserved.
 */

#include "socfpga_stratix10.dtsi"

/ {
	model = "SoCFPGA Stratix 10 SoCDK";

	aliases {
		serial0 = &uart0;
		ethernet0 = &gmac0;
		ethernet1 = &gmac1;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	memory {
		device_type = "memory";
		/* We expect the bootloader to fill in the reg */
		reg = <0 0 0 0>;
	};

	ref_033v: 033-v-ref {
		compatible = "regulator-fixed";
		regulator-name = "0.33V";
		regulator-min-microvolt = <330000>;
		regulator-max-microvolt = <330000>;
	};

	soc {
		clocks {
			osc1 {
				clock-frequency = <125000000>;
			};
		};

		eccmgr {
			sdmmca-ecc@ff8c8c00 {
				compatible = "altr,socfpga-s10-sdmmc-ecc",
					     "altr,socfpga-sdmmc-ecc";
				reg = <0xff8c8c00 0x100>;
				altr,ecc-parent = <&mmc>;
				interrupts = <14 4>,
					     <15 4>;
			};
		};

		s10_hps_bridges: bridge@80000000 {
			compatible = "altr,bridge-19.1", "simple-bus";
			reg =   <0x80000000 0x00008000>;
			reg-names = "axi_h2f";
			//clocks = <&iopll_0 1 &clk_0 &dp_0_video_pll 3 &iopll_0 0>;
			//clock-names = "h2f_axi_clock", "h2f_lw_axi_clock", "f2sdram0_clock", "f2sdram2_clock";
			#address-cells = <2>;
			#size-cells = <1>;
			#clock-cells = <0>;
			ranges = <0x00000000 0x00000000 0x80006000 0x00000040>,
				 <0x00000000 0x00000040 0x80006040 0x00000008>;

			gmii_to_sgmii: phy@0x000000040 {
				compatible = "altr,gmii-to-sgmii-2.0";
				reg = <0x00000000 0x00000000 0x00000040>,
				      <0x00000000 0x00000040 0x00000008>;
				reg-names = "eth_tse_control_port", "gmii_to_sgmii_adapter_avalon_slave";
				//clocks = <&sgmii_1_clk_0 &gmac1 1 &sgmii_1_clk_125 &sgmii_1_clk_125>;
				//clocks = <&sgmii_1_clk_0 &clkmgr STRATIX10_EMAC1_CLK &sgmii_1_clk_125 &sgmii_1_clk_125>;
				//clock-names = "clock_in", "emac_gtx_clk", "tse_pcs_ref_clk_clock_connection", "tse_rx_cdr_refclk";
			}; //end phy@0x100000040 (gmii_to_sgmii)

		};


		socfpga_axi_setup: stmmac-axi-config {
			snps,wr_osr_lmt = <0x0000000f>; /* appended from boardinfo */
			snps,rd_osr_lmt = <0x0000000f>; /* appended from boardinfo */
			snps,blen = <0 0 0 0 16 0 0>;   /* appended from boardinfo */
		}; //end stmmac-axi-config (socfpga_axi_setup)

		firmware {
			svc {
				rsu {
					compatible = "intel,stratix10-rsu";
				};
			};
		};
	};
};

&gpio0 {
	status = "okay";
};

&gpio1 {
	status = "okay";
};

&gmac0 {
	status = "okay";
	phy-mode = "rgmii";
	phy-handle = <&phy0>;
	max-frame-size = <9000>;

	mdio0 {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "snps,dwmac-mdio";
		phy0: ethernet-phy@0 {
			reg = <4>;

			/*
			 * All skews are offset since hardware skew values for the ksz9031
			 * range from a negative skew to a positive skew.
			 * See the micrel-ksz90x1.txt Documentation file for details.
			 */
			 txd0-skew-ps = <0>; /* -420ps */
			 txd1-skew-ps = <0>; /* -420ps */
			 txd2-skew-ps = <0>; /* -420ps */
			 txd3-skew-ps = <0>; /* -420ps */
			 txen-skew-ps = <0>; /* -420ps */
			 txc-skew-ps  = <1860>; /* 960ps */

			 rxd0-skew-ps = <720>; /*  300ps */
			 rxd1-skew-ps = <720>; /*  300ps */
			 rxd2-skew-ps = <720>; /*  300ps */
			 rxd3-skew-ps = <720>; /*  300ps */
			 rxdv-skew-ps = <720>; /*  300ps */
			 rxc-skew-ps  = <0>;   /* -900ps */
		};
	};
};

&gmac1 {
	snps,perfect-filter-entries = <128>;
	altr,gmii-to-sgmii-converter = <&gmii_to_sgmii>;
	altr,gmii_to_sgmii_converter = <&gmii_to_sgmii>;
	phy-mode = "sgmii";
	address-bits = <48>;
	max-frame-size = <9000>;
	snps,axi-config = <&socfpga_axi_setup>;
	status = "okay";
};

&mmc {
	status = "okay";
	cap-sd-highspeed;
	cap-mmc-highspeed;
	broken-cd;
	bus-width = <4>;
};

&nand {
	status = "okay";
};

&uart0 {
	status = "okay";
};

&usb0 {
	status = "okay";
	disable-over-current;
};

&watchdog0 {
	status = "okay";
};

&i2c3 {
	status = "okay";
	clock-frequency = <100000>;
	i2c-sda-hold-time-ns = <100>;
	i2c-sda-falling-time-ns = <300>;  /* hcnt */
	i2c-sdl-falling-time-ns = <300>;  /* lcnt */

	dig_pca@74 {
		compatible = "nxp,pca9539";
		reg = <0x74>;
		gpio-controller;
		#gpio-cells = <2>;
	};

	rtc@68 {
		compatible = "dallas,ds1308";
		reg = <0x68>;
	};

	ads1015@4b {
		compatible = "ti,ads1015";
		reg = <0x4b>;
		#address-cells = <0x1>;
		#size-cells = <0x0>;
		status = "okay";

		channel@4 {
			reg = <0x4>;
			ti,gain = <0x1>;
			ti,datarate = <0x4>;
		};

		channel@5 {
			reg = <0x5>;
			ti,gain = <0x1>;
			ti,datarate = <0x4>;
		};

		channel@6 {
			reg = <0x6>;
			ti,gain = <0x1>;
			ti,datarate = <0x4>;
		};

		channel@7 {
			reg = <0x7>;
			ti,gain = <0x1>;
			ti,datarate = <0x4>;
		};
	};
};

&i2c4 {
	status = "okay";
	clock-frequency = <100000>;
	i2c-sda-hold-time-ns = <100>;
	i2c-sda-falling-time-ns = <300>;  /* hcnt */
	i2c-sdl-falling-time-ns = <300>;  /* lcnt */

	ads1015@49 {
		compatible = "ti,ads1015";
		reg = <0x49>;
		#address-cells = <0x1>;
		#size-cells = <0x0>;
		status = "okay";

		channel@4 {
			reg = <0x4>;
			ti,gain = <0x1>;
			ti,datarate = <0x4>;
		};

		channel@5 {
			reg = <0x5>;
			ti,gain = <0x1>;
			ti,datarate = <0x4>;
		};

		channel@6 {
			reg = <0x6>;
			ti,gain = <0x1>;
			ti,datarate = <0x4>;
		};

		channel@7 {
			reg = <0x7>;
			ti,gain = <0x1>;
			ti,datarate = <0x4>;
		};
	};
};

&i2c1 {
	status = "okay";
	clock-frequency = <100000>;
	i2c-sda-hold-time-ns = <100>;
	i2c-sda-falling-time-ns = <300>;  /* hcnt */
	i2c-sdl-falling-time-ns = <300>;  /* lcnt */

	bp_pwr@74 {
		compatible = "nxp,pca9539";
		reg = <0x74>;
		gpio-controller;
		#gpio-cells = <2>;
	};

	bp_bg@75 {
		compatible = "nxp,pca9539";
		reg = <0x75>;
		gpio-controller;
		#gpio-cells = <2>;
	};

	bp_gle@76 {
		compatible = "nxp,pca9539";
		reg = <0x76>;
		gpio-controller;
		#gpio-cells = <2>;
	};

};

&qspi {
	flash@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "n25q00a";
		reg = <0>;
		spi-max-frequency = <50000000>;

		m25p,fast-read;
		cdns,page-size = <256>;
		cdns,block-size = <16>;
		cdns,read-delay = <1>;
		cdns,tshsl-ns = <50>;
		cdns,tsd2d-ns = <50>;
		cdns,tchsh-ns = <4>;
		cdns,tslch-ns = <4>;

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			qspi_boot: partition@0 {
				label = "Boot and fpga data";
				reg = <0x0 0x40000000>;
			};
		};
	};
};
