/*
 * Copyright Altera Corporation (C) 2015. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms and conditions of the GNU General Public License,
 * version 2, as published by the Free Software Foundation.
 *
 * This program is distributed in the hope it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License along with
 * this program.  If not, see <http://www.gnu.org/licenses/>.
 */

#include "socfpga_stratix10.dtsi"
#include <dt-bindings/interrupt-controller/irq.h>

/ {
	model = "SoCFPGA Stratix 10 SoCDK";

	aliases {
		serial0 = &uart1;
		serial2 = &uart2;
		ethernet0 = &gmac1;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	memory {
		device_type = "memory";
		/* We expect the bootloader to fill in the reg */
		reg = <0 0 0 0>;
	};

	ref_033v: 033-v-ref {
		compatible = "regulator-fixed";
		regulator-name = "0.33V";
		regulator-min-microvolt = <330000>;
		regulator-max-microvolt = <330000>;
	};

	soc {
		clocks {
			osc1 {
				clock-frequency = <125000000>;
			};
		};

		uart2: serial2@80008000 {
			compatible = "altr,16550-FIFO128", "ns16550a";
			reg = <0x80008000 0x200>;
			interrupt-parent = <&intc>;
			interrupts = <0 17 4>;
			interrupt-names = "FPGA_IRQ00";
			clock-frequency = <125000000>;
			reg-shift = <2>;
			reg-io-width = <4>;
			status = "disabled";
		};

	};
};

&gpio0 {
	status = "okay";
};

&gpio1 {
	status = "okay";
};

&gmac0 {
	status = "disabled";
	phy-mode = "rgmii";
	phy-handle = <&phy0>;
	altr,sysmgr-syscon = <&sysmgr 0x00000044 0>;
	max-frame-size = <9000>;

	mdio0 {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "snps,dwmac-mdio";
		phy0: ethernet-phy@0 {
			reg = <4>;

			/*
			 * All skews are offset since hardware skew values for the ksz9031
			 * range from a negative skew to a positive skew.
			 * See the micrel-ksz90x1.txt Documentation file for details.
			 */
			// txd0-skew-ps = <0>; /* -420ps */
			// txd1-skew-ps = <0>; /* -420ps */
			// txd2-skew-ps = <0>; /* -420ps */
			// txd3-skew-ps = <0>; /* -420ps */
			// txen-skew-ps = <0>; /* -420ps */
			// txc-skew-ps  = <1860>; /* 960ps */

			// rxd0-skew-ps = <720>; /*  300ps */
			// rxd1-skew-ps = <720>; /*  300ps */
			// rxd2-skew-ps = <720>; /*  300ps */
			// rxd3-skew-ps = <720>; /*  300ps */
			// rxdv-skew-ps = <720>; /*  300ps */
			// rxc-skew-ps  = <0>;   /* -900ps */
		};
	};
};


&gmac1 {
	status = "okay";
	phy-mode = "rgmii";
	phy-handle = <&phy1>;
	altr,sysmgr-syscon = <&sysmgr 0x00000048 0>;
	max-frame-size = <9000>;

	mdio1 {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "snps,dwmac-mdio";
		phy1: ethernet-phy@1 {
			reg = <4>;

			/*
			 * All skews are offset since hardware skew values for the ksz9031
			 * range from a negative skew to a positive skew.
			 * See the micrel-ksz90x1.txt Documentation file for details.
			 */
			txd0-skew-ps = <0>;	/* -420ps */
			txd1-skew-ps = <0>; 	/* -420ps */
			txd2-skew-ps = <0>; 	/* -420ps */
			txd3-skew-ps = <0>; 	/* -420ps */
			txen-skew-ps = <0>; 	/* -420ps */
			txc-skew-ps  = <1860>;	/*  960ps */

			rxd0-skew-ps = <900>;	/*  480ps */
			rxd1-skew-ps = <900>; 	/*  480ps */
			rxd2-skew-ps = <900>; 	/*  480ps */
			rxd3-skew-ps = <900>; 	/*  480ps */
			rxdv-skew-ps = <900>; 	/*  480ps */
			rxc-skew-ps  = <0>;	/* -900ps */
		};
	};
};

&mmc {
	status = "okay";
	cap-sd-highspeed;
	broken-cd;
	bus-width = <4>;
};

&uart0 {
	status = "disabled";
};

&uart1 {
	status = "okay";
};

&uart2 {
	fifo-size = <128>;
	status = "okay";
};

&usb1 {
	status = "disabled";
	disable-over-current;
};

&watchdog0 {
	status = "okay";
};

&i2c2 {
	status = "okay";
	clock-frequency = <100000>;
	i2c-sda-hold-time-ns = <100>;
	i2c-sda-falling-time-ns = <300>;  /* hcnt */
	i2c-sdl-falling-time-ns = <300>;  /* lcnt */

	pca9539@74 {
		compatible = "nxp,pca9539";
		reg = <0x74>;
		gpio-controller;
		#gpio-cells = <2>;
	};

	rtc@68 {
		compatible = "dallas,ds1308";
		reg = <0x68>;
	};

};

&spi0 {
	status = "okay";
	max14830@0 {
		status = "okay";
		compatible = "maxim,max14830";
		reg = <0x0>;
		spi-max-frequency = <1000000>;
		clocks = <&spi_uart_clock>;
		clock-names = "xtal";
		interrupt-parent = <&porta>;
		// pin 8 (index starting at 0) of porta
		// (IOA_9) is an Edge-Sensitive Active-Low interrupt
		interrupts = <8 IRQ_TYPE_EDGE_FALLING>;
		gpio-controller;
		#gpio-cells = <2>;
	};
	max14830@1 {
		status = "okay";
		compatible = "maxim,max14830";
		reg = <0x1>;
		spi-max-frequency = <1000000>;
		clocks = <&spi_uart_clock>;
		clock-names = "xtal";
		interrupt-parent = <&porta>;
		// pin 10 (index starting at 0) of porta
		// (IOA_11) is an Edge-Sensitive Active-Low interrupt
		interrupts = <10 IRQ_TYPE_EDGE_FALLING>;
		gpio-controller;
		#gpio-cells = <2>;
	};
	max14830@2 {
		status = "okay";
		compatible = "maxim,max14830";
		reg = <0x2>;
		spi-max-frequency = <1000000>;
		clocks = <&spi_uart_clock>;
		clock-names = "xtal";
		interrupt-parent = <&portb>;
		// pin 15 (index starting at 0) of portb
		// (IOB_16) is an Edge-Sensitive Active-Low interrupt
		interrupts = <15 IRQ_TYPE_EDGE_FALLING>;
		gpio-controller;
		#gpio-cells = <2>;
	};
	max14830@3 {
		status = "okay";
		compatible = "maxim,max14830";
		reg = <0x3>;
		spi-max-frequency = <1000000>;
		clocks = <&spi_uart_clock>;
		clock-names = "xtal";
		interrupt-parent = <&portb>;
		// pin 17 (index starting at 0) of portb
		// (IOB_18) is an Edge-Sensitive Active-Low interrupt
		interrupts = <17 IRQ_TYPE_EDGE_FALLING>;
		gpio-controller;
		#gpio-cells = <2>;
	};
};


&qspi {
	status = "okay";
	flash@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "n25q00a";
		reg = <0>;
		spi-max-frequency = <50000000>;

		m25p,fast-read;
		cdns,page-size = <256>;
		cdns,block-size = <16>;
		cdns,read-delay = <1>;
		cdns,tshsl-ns = <50>;
		cdns,tsd2d-ns = <50>;
		cdns,tchsh-ns = <4>;
		cdns,tslch-ns = <4>;

		// Currently There are no partitions.
		// partitions {
		// 	compatible = "fixed-partitions";
		// 	#address-cells = <1>;
		// 	#size-cells = <1>;

		// 	qspi_boot: partition@0 {
		// 		label = "Boot and fpga data";
		// 		reg = <0x0 0x4000000>;
		// 	};

		// 	qspi_rootfs: partition@4000000 {
		// 		label = "Root Filesystem - JFFS2";
		// 		reg = <0x4000000 0x4000000>;
		// 	};
		// };
	};
};
